<div class="container">
    <form>
        <div class="img-logo">
            <img src="logo-uds.svg" alt="">
        </div>
        <h3>Cadastre-se para acessar o portal.</h3>
        <mat-form-field>
            <mat-label>Nome Completo</mat-label>
            <input matInput placeholder="Ex. Gabriel Oliveira, William Silva">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Data Nascimento</mat-label>
            <input matInput [matDatepicker]="picker">
              <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nome de Usuário</mat-label>
            <input matInput placeholder="Ex. gabriel1995, joão2809">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput type="password">
        </mat-form-field>
        <div class="buttons">
            <a href="/" mat-button>Voltar</a>
            <button mat-button matButton="filled">Cadastre-se</button>
        </div>
    </form>
</div>