<div class="container">
    <form>
        <div class="img-logo">
            <img src="logo-uds.svg" alt="">
        </div>
        <mat-form-field>
            <mat-label>Usuario</mat-label>
            <input [(ngModel)]="userLoginInput.username" name="username" matInput placeholder="Ex. meulogin">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input [(ngModel)]="userLoginInput.password" name="password"  matInput type="password">
        </mat-form-field>
        <button (click)="Auth()" mat-button matButton="filled">ENTRAR</button>
        <a href="/usersignup">Ainda não possui acesso? Crie sua conta agora</a>
    </form>
    <div class="logo">
        <img src="imagem-login.jfif" alt="">
    </div>
</div>